<div class="row">
	<div class="small-12 columns">
		<label>Awesome setting: </label>
		<input type="radio" ng-model="settingsCtrl.settings.reallyCool" ng-value="true"> Yes
		<input type="radio" ng-model="settingsCtrl.settings.reallyCool" ng-value="false"> No
	</div>
</div>
<div ng-if="settingsCtrl.settings.isAdvanced">
	<div class="row">
		<div class="small-12 columns">
			<h4>Advanced Settings:</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-5 columns">
			<label>Shininess:</label>
			<select ng-model="settingsCtrl.settings.makeShiny"
					ng-options="shininess.shiny as shininess.description for shininess in settingsCtrl.settings.makeShinyOptions"></select>
		</div>
	</div>
</div>